extends layout

block content
    h1= title
    p Welcome to all the locations

    // Wrapper
    #wrapper
        #containerCol4
            // ADD LOCATIONS
            h2 Search
            #addLocation
                fieldset
                    strong Place:
                    |  <input id='locationName'></input>
                    br
                    strong Province:
                    |  <input id='provinceName'></input>
                    br
                    button#btnSearchLocation Search
            // /ADD LOCATIONS
        #containerCol4
            // LOCATIONS LIST
            h2 Locations List
            #locationsList.listView
                table
                    thead
                        th Location Name
                        th Province
                        th Lat
                        th Long
                    tbody
            // /LOCATIONS LIST
        #containerCol4
            // LOCATIONS LIST
            h2 Locations List
            #placesList.listView
                table
                    thead
                        th Place Name
                        th Province
                        th Lat
                        th Long
                    tbody
            // /LOCATIONS LIST
    // /WRAPPER