<div class="row">
	<div class="col-md-8">
		<h2>Race List</h2>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Race in progress</th>
					<th>Nr. of checkpoints</th>
					<th>Nr. of participants</th>
					<th>Options</th>
				</tr>
			</thead>
			<tbody id="raceList">
			</tbody>
		</table>
	</div>
	<div class="col-md-4" id="" >
		<h2>Race Create</h2>
		<div id="createForm">
			<div class="form-group">
				<label for="usr">Name:</label>
				<input type="text" class="form-control" id="crName">
			</div>
			<button type="button" class="btn btn-primary" id="crRace">Create New</button>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-3">
		<h2>Race Update</h2>
		<div id="updateForm">
			<div class="form-group">
				<label for="upName">Name:</label>
				<input type="text" class="form-control" id="upName">
			</div>
			<div class="form-group">
				<div class="checkbox">
					<label>
						<input type="checkbox" class="checkboxsize" id="upStarted"><label class="lineHeight30">Race is in Progress</label>
					</label>
				</div>
			</div>
			<input type="hidden" id="upId">
			<button type="button" class="btn btn-primary" id="updateRace">Update</button>
		</div>
	</div>
	<div class="col-md-3" >
		<h2>Participants List</h2>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Fullname</th>
					<th>Options</th>
				</tr>
			</thead>
			<tbody id="raceParticipantsList">
			</tbody>
		</table>
	</div>
	<div class="col-md-6">
		<h2>Locations List</h2>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Street</th>
					<th>City</th>
					<th>Options</th>
				</tr>
			</thead>
			<tbody id="raceLocationsList">
			</tbody>
		</table>
	</div>
</div>
<div class="row">
<div class="col-md-3" ></div>
	<div class="col-md-9">
		<div id="map" class="hideMap"></div>
	</div>
</div>

<script src="/javascripts/admin_races.js"></script>
<script src="/javascripts/google_maps.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAD70kWnbzT-W2SixDKpJRcN5S8PMwfgFc&libraries=places&callback=initMap" async defer></script>