<div class="row">
	<div class="alert hidden" role="alert" id="messageUser"></div>
</div>

<div class="row">
	<div class="col-md-8">
		<h2>User List</h2>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Firstname</th>
					<th>Lastname</th>
					<th>Options</th>
				</tr>
			</thead>
			<tbody id="userList">
			</tbody>
		</table>
	</div>

	<div class="col-md-4">
		<h2>User Update</h2>
		<div class="form-group">
			<label for="upFirstname">Firstname:</label>
			<input type="text" class="form-control" id="upFirstname">
		</div>
		<div class="form-group">
			<label for="upLastname">Lastname:</label>
			<input type="text" class="form-control" id="upLastname">
		</div>
		<input type="hidden" id="upId">
		<button type="button" class="btn btn-primary" id="updateUser">Update</button>
	</div>
</div>

<div class="row">
	<div class="col-md-4" id="" >
		<h2>User Create</h2>
		<div class="form-group">
			<label for="usr">Firstname:</label>
			<input type="text" class="form-control" id="crFirstname">
		</div>
		<div class="form-group">
			<label for="pwd">Lastname:</label>
			<input type="text" class="form-control" id="crLastname">
		</div>
		<button type="button" class="btn btn-primary" id="crUser">Create New</button>
	</div>
</div>
