body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
	margin:0 0 .5em 0;
}

a {
  color: #00B7FF;
}

#containerCol4{
	width: 22%;
	float: left;
	margin-right: 10px;
}
#wrapper {
	width: 100%;
	position:relative;
	float:left;
}
#chatroom{
	width: 1000px;
	float: left;
	margin-left: 25px;
}
#userList {
	margin:0 0 30px 0;
}
	#userList table {
		border-collapse:separate;
		border-spacing:1px;
		background:#CCC;
	}
		#userList table th {
			background:#EEE;
			font-weight:600;
			padding:10px 20px;
			text-align:center;
		}
		#userList table tbody {
			padding:0; margin:0;
			border-collapse:collapse;
			border-spacing:0px;
		}
			#userList table td {
				background:#FFF;
				padding:5px 10px;
				text-align:center;
			}

.listView {
	margin:0 0 30px 0;
}
	.listView table {
		border-collapse:separate;
		border-spacing:1px;
		background:#CCC;
	}
		.listView table th {
			background:#EEE;
			font-weight:600;
			padding:10px 20px;
			text-align:center;
		}
		.listView table tbody {
			padding:0; margin:0;
			border-collapse:collapse;
			border-spacing:0px;
		}
			.listView table td {
				background:#FFF;
				padding:5px 10px;
				text-align:center;
			}

.btn{
	margin-top: 10px;
}
#userInfo {
	width:250px;
	position:absolute;
	top:0; left:0;
}
	#userInfo p {
		padding:35px;
		border:1px solid #CCC;
		background:rgba(80,120,255,0.05);
	}

#roomInfo {
	width:250px;
	position:absolute;
	top:0; left:0;
}
	#roomInfo p {
		padding:35px;
		border:1px solid #CCC;
		background:rgba(80,120,255,0.05);
	}

fieldset {
	border:0;
	padding:0; margin:0;
}