.checkboxsize{
	width: 20px;
	height: 20px;
}
.lineHeight30{
	line-height: 30px;
}
#map {
    height: 50%;
}
#raceLocations{
	display: none;
}
.floatLeft{
	float:left;
}
.floatRight{
	float:right;
}
.top25{
	margin-top: 25px;
}